%h2 Hey #{@blackmail.victim_name} 

%h1 You have 01:00:00

%h4 note: #{@blackmail.note}
%h4 I demand $#{@blackmail.amount}
%h4 or else I will release this video: (embed video here)
= link_to 'pay me here or live in embarassment', "#{@blackmail.generate_venmo_link}"

